%p The following applications had no failures:
%ul
  - application_list.each do |application|
    - next if scenarios_for_application?(application)
    %li= application.name
%p The following applications had failures:
- application_list.each do |application|
  - next unless scenarios_for_application?(application)
  %div
    %b= "#{application.name} (#{scenarios_for_application(application).worst_failure_type.gsub('_', ' ')})"
    %ul
      - environments.each do |environment|
        - next unless scenarios_for_application_environment?(application, environment)
        %li
          = environment
          %ul
            - failure_types.each do |failure_type|
              - next unless scenarios_for_application_environment_failure_type(application, environment, failure_type).any?
              %li
                = failure_type.gsub('_',' ')
                %ol
                  - scenarios_for_application_environment_failure_type(application, environment, failure_type).each do |scenario|
                    %li
                      = scenario.name
                      %ul
                        %li= scenario.exception_message
                        %li= scenario.backtrace_line
